{{/* Defining `yield` template */}}
{{define "yield"}}
    <h1>Get in touch! </h1>
    <p>
        <a href="mailto:support@usegolang.com">
        support@usegolang.com
        </a>.
    </p>

    {{template "footer"}}

{{end}}

{{/* If this yield get call from parseFiles() this whole block will get inserted in bootstrap template */}}