{{/* Defining the `yield` template */}}
{{define "yield"}}
    <h1>Welcome to my awesome site</h1>


    {{template "footer"}}
{{end}}

{{/* If this yield get call from parseFiles() this whole block will get inserted in bootstrap template */}}

